<div class="col-md-offset-1 col-md-10">
  <div class="page-header">
    <h4>Add Recipe</h4>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <form action="/create_recipe" method="post">
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <div class="form-group">
        <label for="dish" class="control-label">
          Dish
        </label>
        <input type="text" id="dish" name="dish" placeholder="Dish" class="form-control">
      </div>
      <div class="form-group">
        <label for="component" class="control-label">
          Component
        </label>
        <input type="text" id="component" name="component" placeholder="Component" class="form-control">
      </div>

      <button class="btn btn-success">
        Create Recipe
      </button>
      or
      <a href="/recipes">Cancel</a>
    </form>
  </div>
</div>
