
<div class="row">
  <div class="col-md-12">
    <h3> Search Results For: <%= @query.query %> </h3>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-10">
    <table class="table">
      <tr>
        <% for i in 0..@max_recipe_index %>
        <th>Recipe #<%=i+1%></th>
        <% end %>
      </tr>
      <% for i in 0..(@max_num_ingredients - 1)%>
      <tr>
        <% for j in 0..@max_recipe_index %>
        <td><%=@ingredient_lists[j][i]%></td>
        <% end %>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<div class="row">
  <div class="col-md-offset-1 col-md-12">
    <a href="/"  class="btn btn-primary">New Search</a>
    <a href="/summary/<%= @query.id %>"  class="btn btn-primary">Summarize</a>
  </div>
</div>
